.componentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.imageContainer {
    position: relative;
    width: 600px; /* Rectangle width */
    height: 400px; /* Rectangle height */
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageContainer img {
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
}

.imageContainer button {
    padding: 8px 16px;
    font-size: 14px;
    color: #333;
    background: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background 0.3s;
}

.imageContainer button:hover {
    background: #ccc;
}

.textContainer{
    margin-top: 10px;
}

.text{
    font-size: 12px;
    color: grey;
}