.user-card {
    background-color: white;
    border: 2px solid gray;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.right-side {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding: 5px;
    text-align: left;
}
