[flake8]
# flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
# run the flake code linting checks in localhost using the above command
# other specific settings to flake8 is described below

    per-file-ignores =
        # add per line ignores, if required
        # F403 '... import *' used; unable to detect undefined names
        app/main/application/__init__.py: F403
        app/main/application/api_model/__init__.py: F403
        app/main/application/controller/__init__.py: F403
        app/main/models/__init__.py: F403
        app/main/repository/__init__.py: F403
        app/main/repository/interface/__init__.py: F403
    max-line-length = 88

    ## the following definations can be ignored
    ## make necessary changes, if required
    # E20{1-3} whitespace before '{', '}', and ':' respectively
    #   > personal preference,
    #   > also sometimes violated by black: https://github.com/psf/black
    # E221 multiple spaces before operator
    # E251 unexpected spaces around keyword / parameter equals
    # E261 at least two spaces before inline comment
    ignore = E201, E202, E203, E221, E251, E261
